<ul class="bottom">
  <li class="guid"><%= link_to 'トップ', root_path, class: 'footer-item' %></li>
  <li class="guid"><%= link_to '概要（未実装）', root_path, class: 'footer-item' %></li>
  <li class="guid"><%= link_to '問い合わせ', contacts_new_path, class: 'footer-item' %></li>
</ul>